<div class="control is-horizontal">
  <form #dates="ngForm">
    <div class="control-label">
      <label class="label">
        Fly out:
      </label>
    </div>

    <div class="control">
      <app-date-selector name="dateStart" [ngModel]="startDate" (dateChange)="onStartDateChange($event)">
      </app-date-selector>
    </div>
    <br>
    <div class="control-label">
      <label class="label">
        Fly back:
      </label>
    </div>
    <div class="control">
      <app-date-selector name="dateEnd" [ngModel]="endDate" (dateChange)="onEndDateChange($event)">
      </app-date-selector>
    </div>
  </form>

</div>
