<form #airports="ngForm">
  <div class="col-md-12">
    <label class="label">Fly from:</label>
    <app-airport name="airportOne" [ngModel]="dataOne" (airportChanged)="receiveAirportOne($event)" [countries]="count" required></app-airport>
  </div>
  <br>
  <div class="col-md-12">
    <label class="label">Fly to:</label>
    <app-airport name="airportTwo" [ngModel]="dataTwo" (airportChanged)="receiveAirportTwo($event)" [countries]="countries" required></app-airport>
  </div>
</form>

