<div class="row">
  <span *ngIf="cheapFlights.length === 0" class="list-grop-item">There are no flights for thees settings</span>
  <ul class="list-group custom-group">
    <li class="list-group-item text-center" *ngFor="let item of cheapFlights">
      <span> Fly out: {{item.dateFrom | date}}</span>,&nbsp;
      <span> Fly back: {{item.dateTo | date}}</span>,&nbsp;
      <span> Price {{item.currency}}: {{item.price | number}}</span>&nbsp;
    </li>
  </ul>
</div>
