<div class="container">
  <form #f="ngForm">
    <div class="col-md-2 custom">
      <br>
      <app-airport-wraper (airportFrom)="getAirportOne($event)" (sharedPorts)="getPorts($event)" (airportTo)="getAirportTwo($event)"></app-airport-wraper>
      <br>
      <div class="col-md-12">
        <app-date-wrapper (startDateChanged)="fromDate($event)" (sharedDate)="getDates($event)" (endDateChnaged)="toDate($event)"></app-date-wrapper>
      </div>
      <br>
      <div class="col-md-12">
        <a class="btn btn-primary" [class.disabled]="!f.valid || !dateForm" [routerLink]="['search-result',dForm,dTo,from,to]">Search</a>
      </div>
    </div>
  </form>
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
