.custom {
  background-color: #2994e6;
  padding: 0 0 15px 0;
  margin-top: 25px;
}

.custom > div > a {
  color: #073590;
  background-color: #F1C933;
  border-color: #F1C933;
  margin-top: 10px;
}

.custom > div > input {
  /*width: 100%;*/
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}
