/*!* You can add global styles to this file, and also import other style files *!*/


/*@media (min-width: 768px){*/
  /*.container {*/
    /*width: 750px;*/
  /*}*/
/*}*/

/*@media (min-width: 992px){*/
  /*.container {*/
    /*width: 970px;*/
  /*}*/
  /*.col-2 {*/
    /*width: 16%;*/
    /*float: left;*/
  /*}*/
  /*.col-4 {*/
    /*width: 33%;*/
    /*float: left;*/
  /*}*/
  /*.col-6 {*/
    /*width: 50%;*/
    /*float: left;*/
  /*}*/
  /*.col-12 {*/
    /*width: 100%;*/
    /*float: left;*/
  /*}*/
/*}*/

/*@media (min-width: 1200px){*/
  /*.container {*/
    /*width: 1170px;*/
  /*}*/
/*}*/

/*.container {*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
/*}*/

/*.col-2, .col-4, .col-6, .col-12 {*/
  /*position: relative;*/
  /*min-height: 1px;*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
/*}*/
/*.group {*/
  /*padding-left: 0;*/
  /*margin-bottom: 20px;*/
/*}*/

/*.group-item {*/
  /*position: relative;*/
  /*display: block;*/
  /*padding: 10px 15px;*/
  /*margin-bottom: -1px;*/
  /*background-color: #fff;*/
  /*border: 1px solid #ddd;*/
/*}*/
/*.group-item:first-child {*/
  /*border-top-left-radius: 4px;*/
  /*border-top-right-radius: 4px;*/
/*}*/

/*.group-item:last-child {*/
  /*margin-bottom: 0;*/
  /*border-bottom-right-radius: 4px;*/
  /*border-bottom-left-radius: 4px;*/
/*}*/
/*.custom-input {*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  /*font-size: 13px;*/
  /*line-height: 1.42857143;*/
  /*color: #555;*/
  /*background-color: #fff;*/
  /*background-image: none;*/
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
/*}*/

/*.control-group {*/
  /*display: block;*/
  /*width: 100%;*/
  /*height: 34px;*/
  /*padding: 6px 12px;*/
  /*font-size: 14px;*/
  /*line-height: 1.42857143;*/
  /*color: #555;*/
  /*background-color: #fff;*/
  /*background-image: none;*/
  /*border: 1px solid #ccc;*/
  /*border-radius: 4px;*/
/*}*/

/*.button {*/
  /*display: inline-block;*/
  /*padding: 6px 12px;*/
  /*margin-bottom: 0;*/
  /*font-size: 14px;*/
  /*font-weight: 400;*/
  /*line-height: 1.42857143;*/
  /*text-align: center;*/
  /*white-space: nowrap;*/
  /*vertical-align: middle;*/
  /*-ms-touch-action: manipulation;*/
  /*touch-action: manipulation;*/
  /*cursor: pointer;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*background-image: none;*/
  /*border: 1px solid transparent;*/
  /*border-radius: 4px;*/
/*}*/

.label {
  font-size: 14px;
}
