<div class="form-group">
    <input id="country" type="text" class="form-control" [(ngModel)]=query (keyup)=filter()>
  <div class="suggestions" *ngIf="filteredList.length > 0">
    <ul>
      <li *ngFor="let item of filteredList">
        <a (click)="select(item.name, item)">{{item.name}}</a>
      </li>
    </ul>
  </div>
</div>

