/*input {*/
  /*width: 100%;*/
/*}*/

.suggestions > ul {
  background-color: #f8fafc;
  list-style: none;
  position: absolute;
  width: 84%;
  padding: 0 7px;
  z-index: 9999;
  border-radius: 5px;
  height: 250px;
  overflow-y: auto;
}

.suggestions > ul > li {
  display: flex;
}

.suggestions > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.suggestions > ul > li > a:hover {
  background-color: #2091EB;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
}
